#login-container .container-formulario {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
* {
    /* font-family: 'Open Sans', sans-serif; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--black);
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    user-select: none;
}
user agent stylesheet
div {
    display: block;
}
:root {
    --black: #040303;
    --grey: #5B5B5B;
    --slate: #7D7C7A;
    --khaki: #C9C19F;
    --beige: #EBE8E2;
    --starry-night: #1F1F1F;
    --light-violet: #a2a4f5;
    --light-violet-select: #a2a3f567;
    --white: #FFFFFF;
    --fuchsia: #ed83eb;
    --peligro: #FF7782;
    --exito: #41F1B6;
    --alerta: #FFBB55;
    --borde-carta: 2rem;
    --padding-carta: 1.8rem;
    --sombra: 0 2rem 3rem var(--starry-night);
}
::-webkit-scrollbar {
    width: 0.5rem;
    background-color: var(--white);
}
::-webkit-scrollbar-thumb {
    background-color: var(--light-violet);
}